.functions {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.function {
  width: 226px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 45px;
  color: #7e7e7e;
  line-height: 1.4;
}

.function h3 {
  font-weight: 700;
  font-size: 18px;
  color: #303030;
  /* margin-bottom:10px; */
}

.function .icon {
  /* outline: 1px dotted red; */
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  box-shadow: 0px 3px 3px #dcdcdc;
}
