@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}

.container {
  margin: 2em auto;
  min-width: 30%;
  max-width: 80%;
}
