.dashboard-table {
  margin: 1em auto;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
}

.dashboard-table td,
.dashboard-table th {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: normal;
}

.dashboard-table .row-name a,
.dashboard-table th a {
  text-decoration: none;
}

.dashboard-table .row-name {
  text-align: left;
}

.dashboard-table .checked {
  background: FIREBRICK;
}

.dashboard-table .marked {
  background: LIGHTGREEN;
}

.dashboard-table .checking {
  background: NAVAJOWHITE;
}

.dashboard-table .in_progress {
  background: lightsalmon;
}

.dashboard-table .todo {
  background: lightgray;
}
