@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

:root {
  --cards: 1;
  --w: 150px;
  --m: 10px;
}

@media only screen and (min-width: 800px) {
  :root {
    --w: 200px;
    --m: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --w: 300px;
    --m: 30px;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;

  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: gainsboro;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-image: radial-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.904));
}

.bottom {
  position: relative;
  /* flex-grow: 1; */
  /* flex: 1; */

  display: flex;
  overflow: hidden;
  /* justify-content: center; */
  align-items: stretch;

  /* height: 600px; */
  width: calc(var(--cards) * (2 * var(--m) + var(--w)));
  margin: 5vh auto;
  margin-top: unset;
  /* padding: 1em 1em; */
  padding-bottom: 3em;

  transition: width 0.5s;

  background: rgb(48, 48, 48);
}
