@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

:root {
  --cards: 1;
  --w: 300px;
  --m: 20px;
}

@media only screen and (min-width: 600px) {
  :root {
    --w: 300px;
    --m: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --w: 350px;
    --m: 20px;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;

  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: gainsboro;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}

.bottom {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;

  height: 100%;
  width: calc(var(--cards) * (2 * var(--m) + var(--w)));
  margin: 5vh auto;
  margin-top: unset;
  
  transition: width 0.5s;

  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e1/Logo_of_YouTube_%282015-2017%29.svg');
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/8b/YouTube_dark_icon_%282017%29.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-blend-mode: soft-light;
}
