.search {
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1em;

  max-width: 90vw;
  margin: 5vmin;
  margin-bottom: 0;
  padding: 0.25em 1em;

  transition: background 0.5s;

  color: white;
  border: 4px solid transparent;
  border-radius: 5px;
  background: black;
  box-shadow: 0 0 3px 0 rgb(65, 65, 65);
}

.search:focus {
  transition: background 0.25s;

  color: black;
  outline: unset;
  background: white;
}

@media only screen and (min-width: 600px) {
  .search {
    margin-bottom: 5vmin;
  }
}
